--- 
    import BaseLayout from '../layout/BaseLayout.astro';
    import { Markdown } from '@astropub/md';
    import BlogGridHome from "../components/Blog/BlogGridHome";

    // Consulta de post
    const {slug, id} =  Astro.params;
    console.log(slug, id);
    const pages = await fetch(`${import.meta.env.PUBLIC_BASE_URL}/api/articles?populate=*`).then(x  => x.json());
    const page = await pages.data.find((page: { attributes: { slug: string  }; })  => page.attributes.slug === slug);
    if (!page) return Astro.redirect("/404");
    const {title, content, imagen, author, category, created_at, readingTime} = page.attributes;
    const img = imagen.data.attributes.formats;
    const catSlug = category.data.attributes?.slug;
    const catName = category.data.attributes?.name;

    console.log(page.attributes);

    const imgAuthor =
    'https://res.cloudinary.com/desigatof/image/upload/v1680795374/thumbnail_profile_pic_3_8f1bf83b0a.webp';
    
    // Consulta de posts relacionados
    // const result  =  await fetch(`${import.meta.env.PUBLIC_BASE_URL}/api/articles?filters[category][slug][$eq]=${catSlug}&populate=*&[sort][0]=createdAt%3Adesc`).then(res => res.json());
    // const posts = result.data;
    // const postsFilter = posts.filter((x: { attributes: { slug: string | undefined; }; })  => x.attributes?.slug !== slug);

    const pageTitle = "Post";
---
<BaseLayout pageTitle={pageTitle}>
 <div class="st-content">
    <div class="st-page-heading st-dynamic-bg" data-src={
              imagen
                ? `${img.medium.url}`
                : 'https://via.placeholder.com/1080'
            }>
      <div class="container">
        <div class="st-page-heading-in text-center">
          <h1 class="st-page-heading-title">{title}</h1>
          <div class="st-post-label">
            <span>Por: <a href='/'>{author.data.attributes?.name}</a></span>
            <span>{readingTime} de lectura</span>
          </div>
        </div>
      </div>
    </div><!-- .st-page-heading -->
    <div class="st-height-b100 st-height-lg-b80"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-md-1">
          <div class="st-post-details st-style1">
            <Markdown of={content}/>
            
        <div class="card-content">
          <div class="card-content-data">
            <img
              class="image-avatar"
              src={imgAuthor}
              alt="Raul Avatar"
              width="100"
            />
            <a href="" class="card-content-data-autor">
              {`  ${author.data.attributes?.name}`}
            </a>
          </div>
        </div>
            <div class='container-general'>
              <div class="st-social-info">
                <div class="st-social-link">
                  <a href="https://www.linkedin.com/in/rauljwebs/" class="st-social-btn active">
                    <span class="st-social-icon"
                      ><i class="fab fa-linkedin"></i></span
                    >
                    <span class="st-icon-name">LinkedIn</span>
                  </a>
                  <!-- <a href="#" class="st-social-btn">
                    <span class="st-social-icon"
                      ><i class="fab fa-facebook"></i></span
                    >
                    <span class="st-icon-name">Facebook</span>
                  </a> -->
                  <!-- <a href="#" class="st-social-btn">
                    <span class="st-social-icon"
                      ><i class="fab fa-instagram"></i></span
                    >
                    <span class="st-icon-name">Instagram</span>
                  </a> -->
                  <a href="https://twitter.com/rauljwebs" class="st-social-btn">
                    <span class="st-social-icon"
                      ><i class="fab fa-twitter"></i></span
                    >
                    <span class="st-icon-name">Twitter</span>
                  </a>
                  <a href="https://github.com/camarj" class="st-social-btn">
                    <span class="st-social-icon"
                      ><i class="fab fa-github"></i></span
                    >
                    <span class="st-icon-name">Github</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="st-height-b100 st-height-lg-b80"></div>
            <!-- <div class="st-post-btn-gropu">
              <a href="#" class="st-btn st-style2 st-color1 st-size-medium">Post Anterior</a>
              <a href="#" class="st-btn st-style2 st-color1 st-size-medium">Próximo Post</a>
            </div> -->
          </div>
          <div class="st-height-b60 st-height-lg-b60"></div>
          <!-- <div class="comments-area">
            <div class="comment-list-outer">
              <h2 class="comments-title">Comments(3)</h2>
              <ol class="comment-list">
                <li class="comment">
                  <div class="comment-body">
                    <div class="comment-meta">
                      <div class="comment-author">
                        <img src="assets/img/comment1.jpg" alt="comment1" class="avatar">
                        <a href="#" class="nm">Smith Jhon</a>
                      </div>
                      <div class="comment-metadata">
                        <a href="#"><span>15 Jan, 2020</span></a>
                      </div>
                    </div>
                    <div class="comment-content">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                    <div class="reply"><a href="#" class="comment-reply-link">Reply</a></div>
                  </div>
                  <ol class="children">
                    <li class="comment">
                      <div class="comment-body">
                        <div class="comment-meta">
                          <div class="comment-author">
                            <img src="assets/img/comment2.jpg" alt="comment1" class="avatar">
                            <span class="nm"><a href="#">Robat Newman</a></span>
                          </div>
                          <div class="comment-metadata">
                            <a href="#"><span>15 Jan, 2020</span></a>
                          </div>
                        </div>
                        <div class="comment-content">
                          <p>Consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer.</p>
                        </div>
                        <div class="reply"><a href="#" class="comment-reply-link">Reply</a></div>
                      </div>
                    </li>
                  </ol>
                </li>
                <li class="comment">
                  <div class="comment-body">
                    <div class="comment-meta">
                      <div class="comment-author">
                        <img src="assets/img/comment1.jpg" alt="comment1" class="avatar">
                        <span class="nm"><a href="#">Hannibal Lecter</a></span>
                      </div>
                      <div class="comment-metadata">
                        <a href="#"><span>26 Jan, 2016</span></a>
                      </div>
                    </div>
                    <div class="comment-content">
                      <p>Lorem ipsum dolor sit amet. Lorem ipsum adipiscing elit.</p>
                    </div>
                    <div class="reply"><a href="#" class="comment-reply-link">Reply</a></div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="comment-respond">
              <h2 class="comment-reply-title">Add your comment</h2>
              <form method="post" class="comment-form">
                <p class="comment-form-author">
                  <input name="author" type="text" placeholder="Name*" required="">
                </p>
                <p class="comment-form-email">
                  <input name="email" type="email" placeholder="E-mail*" required="">
                </p>
                <p class="comment-form-url">
                  <input id="url" name="url" type="url" placeholder="Website">
                </p>
                <p class="comment-form-comment">
                  <textarea name="comment" cols="40" rows="5" placeholder="Write here...*" required=""></textarea>
                </p>
                <p class="form-submit">
                  <button type="submit" class="st-btn st-style1 st-color1 st-size-medium">Post Comment</button>
                </p>
              </form>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
<!-- Start Blog Seciton -->
  <section id="blog">
    <div class="container">
      <div class="st-section-heading st-style1">
        <h4 class="st-section-heading-title">Últimos Posts Sobre {catName}</h4>
        <h2 class="st-section-heading-subtitle">Últimos Posts</h2>
      </div>
      <div class="st-height-b25 st-height-lg-b25"></div>
    </div>
    <!-- <BlogGridHome posts={postsFilter}/> -->
    <div class="st-height-b95 st-height-lg-b75"></div>
  </section>
  <!-- End Blog Seciton -->
  
        
  <div class="st-height-b100 st-height-lg-b80"></div>
    
</BaseLayout>